{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block
content %}
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm p-4">
      <div>
        <h3><b>Login</b></h3>
        <p class="text-muted">login to access tools</p>
      </div>
      <form method="post">
        <!-- Username or Email -->
        <div class="mb-3">
          <label for="username" class="form-label">Username or Email</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Enter username or email"
            required />
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="••••••••" required />
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Login</button>
        </div>

        <!-- Optional: Sign Up Link -->
        <div class="mt-2">
          <small>Don't have an account?
            <a href="{{ url_for('signup') }}">Sign up</a></small>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}